@import '../App.css';
.btn{
    border-radius: 3.5rem;
    padding: 1.5rem 5.8rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    text-align: center;
    letter-spacing: .02rem;
    transition: all .4s ease-out;
    position: relative;
}

.btn-blue{
    background-color: var(--color-blue);
    color: var(--color-white);
}

.btn-white{
    background-color: var(--color-white);
    color: var(--color-blue);
}

.contentHero .btn{
    /* background-color: #111; */
    z-index: 0;
    /* background: linear-gradient(to right, var(--color-pink-purple-1), var(--color-pink-purple-2)); */
}

.contentHero .btn::before{
    content: "";
    background: linear-gradient(45deg, #ff0000, 
    #ff7300, #fffb00, #48ff00, #00ffd5, 
    #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -.2rem;
    left: -.2rem;
    background-size: 400%;
    z-index: -1;
    filter: blur(.5rem);
    width: calc(100% + .4rem);
    height: calc(100% + .4rem);
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 3.5rem;
}

.contentHero .btn:active{
    columns: var(--color-black);
}

.contentHero .btn:active::after{
    background: transparent;
}

.contentHero .btn:hover::before{
    
}

.contentHero .btn::after{
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    background: transparent;
    left: 0;
    top: 0;
    border-radius: 3.5rem;
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}



/* 
.contentHero .btn{
    display: inline-block;
    border-radius: 3.5rem;
    padding: 1.5rem 4.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    text-align: center;
    letter-spacing: .02rem;
    transition: all .4s ease-out;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: linear-gradient(to right, var(--color-blue), var(--color-blue));
}

.contentHero .btn::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--color-blue), var(--color-blue));
    z-index: -2;
    border-radius: 3.5rem;
}

.contentHero .btn::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: linear-gradient(to right, var(--color-pink-purple-1), var(--color-pink-purple-2));
    transition: all .3s;
    border-radius: 3.5rem;
    z-index: -1; 
}

.contentHero .btn:hover::before{
    width: 100%;
} */

