.pricing-card{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 1rem;
    width: 33.5rem;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border: .1rem solid var(--color-light-grey-fluid);
}

.pricing-card.primary{
    background-color: var(--color-white);
    height: 60.7rem;
    padding: 6rem 2rem;
    
}
.pricing-card.secondary{
    background-color: var(--color-blue);
    height: 69.3rem;
    padding: 10rem 2rem;
}

.pricing-card h5{
    font-weight: 700;
    font-size: 2rem;
}

.pricing-card.primary h5{
    color: var( --color-dark-blue);
}
.pricing-card.secondary h5{
    color: var( --color-white);
}

.pricing-card span.description{
    font-size: 1.6rem;
    line-height: 2.3rem;
    width: 14.8rem;
    height: 4.6rem;
    text-align: center;
    margin: 1rem 0 2rem;
}

.pricing-card.primary span.description{
    color: var(--color-grey);
}

.pricing-card.secondary span.description{
    color: var(--color-white);
}

.pricing-card .price-block{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5rem 0;
}

.price-block__text{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.pricing-card.primary h1{
    color: var( --color-dark-blue);
}
.pricing-card.secondary h1{
    color: var( --color-white);
}

.pricing-card.primary 
.price-block__text .dollar-entity{
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.8rem;
}

.pricing-card.primary 
.price-block__text .dollar-entity{
    color: var( --color-dark-blue);
}
.pricing-card.secondary 
.price-block__text .dollar-entity{
    color: var( --color-white);
}

.pricing-card 
.price-block__text .simple-text{
    font-size: 1.6rem;
    line-height: 2.3rem;
}

.pricing-card.primary 
.price-block__text .simple-text{
    color: var(--color-grey);
}
.pricing-card.secondary 
.price-block__text .simple-text{
    color: var(--color-white);
}

.pricing-list-features {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.pricing-list-features li{
    padding: 1rem 0 1rem 0;
    font-size: 1.5rem;
    line-height: 2.8rem;
    cursor: pointer;
}

.pricing-card.primary 
.pricing-list-features li{
    color: var(--color-dark-blue);
    position: relative;
    transition: all .3s ease-in-out;
}
.pricing-card.secondary 
.pricing-list-features li{
    color: var(--color-white);
    position: relative;
    transition: all .3s ease-in-out;
}

.pricing-card.primary 
.pricing-list-features li::before{
    content: "";
    left: 0;
    position: absolute;
    transition: all .3s ease-in-out;
    bottom: 0;
    width: 0%;
    height: .1rem;
    background-color: var(--color-dark-blue);
}

.pricing-card.secondary 
.pricing-list-features li::before{
    content: "";
    left: 0;
    position: absolute;
    transition: all .3s ease-in-out;
    bottom: 0;
    width: 0%;
    height: .1rem;
    background-color: var(--color-white);
}

.pricing-card.primary 
.pricing-list-features li:hover::before{
    width: 100%;
}

.pricing-card.secondary 
.pricing-list-features li:hover::before{
    width: 100%;
}

@media screen and (max-width: 345px){
    .pricing-card{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        border-radius: 1rem;
        width: 30.5rem;
        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
        border: .1rem solid var(--color-light-grey-fluid);
    }
}

