.contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12rem 2rem 10rem;
    width: 100%;
}

.contact-section__text-block{
    width: 55.2rem;
    height: 18.2rem;
    text-align: center;
}

.contact-section__text-block h2{
    color: var(--color-dark-blue);
    margin-bottom: 2rem;
}

.contact-section__text-block p{
    color: var(--color-grey);
    font-size: 2.8rem;
    line-height: 4rem;
}

.contact-section .row{
    width: 100%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-gap: 0 5rem;
    
}


.contact-section .row .col-left form{
    border-radius: 2rem;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    padding: 4rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .1rem solid var(--color-light-grey-darken);
    width: 100%;
}

.contact-section .row .col-left form span{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: var(--color-dark-blue);
    margin-bottom: 1.5rem;
}


.contact-section .row .col-left form input{
    width: 100%;
    padding: 1.5rem;
    margin: 1.5rem 0;
    border: .1rem solid var(--color-light-grey-darken);
    
}


.contact-section .row .col-left form button{
    align-self: flex-start;
    padding: 1rem 2rem;
    margin-top: 3rem;
}

.contact-section .row .col-right{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-section .row .col-right
.items{
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    height: 10.8rem;
    text-align: center;
}

.contact-section .row .col-right
.items .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 33.333%;
    text-align: center;
    height: 100%;
}




.contact-section .row .col-right
.items .item .icon{
    font-size: 3.2rem;
    color: var(--color-blue);
}

.contact-section .row .col-right
.items .item .text-info{
    margin-top: 1rem;
    font-size: 1.6rem;
    text-align: center;
    color: var(--color-grey);
}

.map-container{
    width: 51.6rem;
    height: 34.319rem;
    margin-top: 4rem;
    overflow: hidden;
}

.contact-section .row .col-right .map-container img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.contact-section .row .col-right .social-media{
    display: flex;
    align-self: flex-start;
}

.contact-section .row .col-right .social-media a{
    margin-top: 2rem;
    font-size: 3.09rem;
    color: var(--color-blue);
    margin-right: 1rem;
    transition: all .3s ease-out;
}

.contact-section .row .col-right .social-media a:hover{
    color: var(--color-dark-blue);
}

@media screen and (max-width: 1100px){
    .contact-section .row{
        width: 100%;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: auto;
        grid-gap: 0 5rem;
    }
    .contact-section .row .col-left{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-section .row .col-left form{
        width: 50rem;
    }

    .contact-section .row .col-right{
        margin-top: 6rem;
    }

}

@media screen and (max-width: 1088px){
    .contact-section{
        padding: 12rem 2rem 10rem;
    }
}

@media screen and (max-width: 700px){
    .map-container{
        margin-top: 10rem;
    }
    .contact-section .row .col-right
    .items{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }
    .contact-section .row .col-right
    .items .item{
        margin: 1rem 0;
    }
}


@media screen and (max-width: 550px){
    .contact-section .row .col-left form{
        width: 100%;
    }
    .map-container{
        width: 100%;
        height: 34.319rem;
        margin-top: 4rem;
    }
    .contact-section__text-block{
        width: 100%;
        height: 18.2rem;
        text-align: center;
    }
}




@media screen and (max-width: 588px){
    .contact-section__text-block p{
        font-size: 2rem;
    }
}

@media screen and (max-width: 550px){
    .contact-section__text-block p{
        font-size: 2rem;
    }
}

@media screen and (max-width: 400px){
    .contact-section__text-block h2{
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }
}