@font-face {
    font-family: Graphik;
    src: url(../utils/fonts/GraphikLight.otf) format("opentype");
    font-weight: 100;
}
@font-face {
    font-family: Graphik;
    src: url(../utils/fonts/GraphikExtralight.otf) format("opentype");
    font-weight: 200;
}
@font-face {
    font-family: Graphik;
    src: url(../utils/fonts/GraphikLight.otf) format("opentype");
    font-weight: 300;
}
@font-face {
    font-family: Graphik;
    src: url(../utils/fonts/GraphikRegular.otf) format("opentype");
    font-weight: 400;
}
@font-face {
    font-family: Graphik;
    src: url(../utils/fonts/GraphikMedium.otf) format("opentype");
    font-weight: 500;
}
@font-face {
    font-family: Graphik;
    src: url(../utils/fonts/GraphikSemibold.otf) format("opentype");
    font-weight: 600;
}
@font-face {
    font-family: Graphik;
    src: url(../utils/fonts/GraphikBold.otf) format("opentype");
    font-weight: 700;
}
@font-face {
    font-family: Graphik;
    src: url(../utils/fonts/GraphikSuper.otf) format("opentype");
    font-weight: 800;
}
@font-face {
    font-family: Graphik;
    src: url(../utils/fonts/GraphikBlack.otf) format("opentype");
    font-weight: 900;
}


