footer{
    background-color: var(--color-dark-blue);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10rem;
}

footer .content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    justify-content: space-between;
    align-items: start;
    justify-content: center;
    grid-gap: 0 5rem;
    margin: auto;
}

footer .content .left{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer .content .left .site-content-list{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

footer .content 
.left .site-content-list li{
    padding: 1rem 0;
}

footer .content 
.left .site-content-list li.title{
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 700;
    color: var(--color-white);
}

footer .content 
.left .site-content-list li a{
    font-size: 1.5rem;
    color: var(--color-white);
    font-weight: 300;
    transition: all .3s ease-out;
}

footer .content 
.left .site-content-list li a:hover{
    color: var(--color-blue);
}

footer .content .right{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

footer .content .right > div{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 1rem;
}

footer .content .right > .location,
footer .content .right > .contact{
    display: flex;
    align-items: center;
}

footer .content .right > .location .icon,
footer .content .right > .contact .icon{
    font-size: 4rem;
    font-weight: 700;
    color: var(--color-white);
}


footer .content .right > div .text-info{
    font-size: 1.5rem;
    color: var(--color-white);
}

footer .content .right > .social-media{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .content .right > .social-media a{
    color: var(--color-white);
    font-size: 3.5rem;
    margin-right: 1rem;
    transition: all .3s ease-out;
}

footer .content .right > .social-media a:hover{
    color: var(--color-blue);
}


@media screen and (max-width: 946px){
    footer .content .right{
        margin-top: 3rem;
    }
    footer .content{
        margin: 0;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }
}


@media screen and (max-width: 600px){
    footer{
        padding: 5rem 2rem;
    }

    footer .content .left{
        display: grid;
        grid-template-columns: auto auto;
    }
}


@media screen and (max-width: 400px){
    footer .content .left{
        display: grid;
        grid-template-columns: auto;
    }
    footer .content{
        margin: 0;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }
}

@media screen and (max-width: 340px){
    footer .content{
        margin: 0;
        grid-template-columns: 100%;
    }
}