input{
    padding: 2rem;
    border-radius: 3.5rem;
    border: none;
    background-color: var(--color-light-small-grey);
    border: none;
    outline: none;
    font-size: 1.4rem;
    border: .1rem solid var(--color-light-grey-darken);
}

textarea{
    width: 100%;
    background-color: var(--color-light-small-grey);
    outline: none;
    padding: 1rem 1rem;
    margin-top: 1.5rem;
    height: 19.3rem;
    resize: none;
    border: .1rem solid var(--color-light-grey-darken);
    font-size: 1.8rem;
}