.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../images/BackgroundImage.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(100% 0, 100% 76%, 50% 100%, 0 76%, 0 0);
}


@media screen and (max-width: 780px){
    .hero{
        clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%);
    }
}

