@import "./css/fonts.css";
@import "./css/reset.css";
:root{
  --color-blue: #2091f9;
  --color-dark-blue: #252b42;
  --color-grey: #374754;
  --color-extra-light-grey: #E8E8E8;
  --color-light-grey: #D8D8D8;
  --color-light-small-grey: #F5F5F5;;
  --color-white: #FFF;
  --color-black: #000;
  --color-pink-purple-1: #e538b9;
  --color-pink-purple-2: #c040df;
  --color-light-grey-darken: #DDDDDD;
  --color-light-grey-fluid: #DEDEDE;
}

html{
  font-size: 62.5%;
  height:100%; /* fix height to 100% for IE */
  max-height:100%; /* fix height for other browsers */
  /*overflow:hidden; /*get rid of scroll bars in IE */
}

body{
  scroll-behavior: smooth;
  font-family: Graphik;
  height: 100%;
  max-height: 100%;
}

h1{
  font-size: 7.4rem;
  font-weight: 700;
}

h2{
  font-size: 4.8rem;
}

h4{
  font-size: 2rem;
  font-weight: 700;
}

.d-2{
  font-size: 4.8rem;
}

.d-4{
  font-size: 2rem;
  font-weight: 700;
}

.app{
  position: relative;
}

.m-auto{
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

@media screen and (max-width: 1088px){
  .m-auto{
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
}